In [4]:
import psycopg2
import sqlalchemy
import pandas as pd

class Connection: 
    def __init__(self, user, password, host, port, database):
        try:
            self.con=psycopg2.connect(
                user=user,
                password=password,
                host=host,
                port=port,
                database=database
            )
            print('Connection Established Successfully')
        except Exception as e:
            print('Error ocuured due to',e)
            
    def create_table(self,table_name,schema):
        query_create="create table if not exists {0}({1})".format(table_name,schema)
        cur=self.con.cursor()
        cur.execute(query_create)
        self.con.commit()
        print('Table is Created')
    
    def insert(self, table_name, schema, values):
        query_insert="insert into {0} ({1}) values ({2})".format(table_name, schema, values)
        cur=self.con.cursor()
        cur.execute(query_insert)
        self.con.commit()
        print('Data is Inserted')
    
    def read_data(self, table_name, select_column):
        query_select='select {1} from {0}'.format(table_name,select_column)
        cur=self.con.cursor()
        cur.execute(query_select)
        row=cur.fetchall()
        for i in row:
            print(i)
        print('Data from table')
    
    def update_table(self, table_name, set_condition, filter_condition):
        query_update="update {0} set {1} where {2}".format(table_name, set_condition, filter_condition)
        cur=self.con.cursor()
        cur.execute(query_update)
        self.con.commit()
        print('Data Updated')
        
    def delete(self,table_name, filter_condition):
        query_delete='delete from {0} where {1}'.format(table_name,filter_condition)
        cur=self.con.cursor()
        cur.execute(query_delete)
        self.con.commit()
        print('Data Deleted')
    
    def join_table(self, t1,t2,cond1):
        pass

In [5]:
c=Connection('postgres','password','localhost','5432','new_db')

table_name='emp_vish'
schema='id int, name varchar(20)'

c.create_table(table_name,schema)

Connection Established Successfully
Table is Created

In [6]:
c=Connection('postgres','password','localhost','5432','new_db')

table_name='emp_vish'
schema='id, name'
values="2, 'Vishal'"

c.insert(table_name,schema,values)

Connection Established Successfully
Data is Inserted

In [7]:
c=Connection('postgres','password','localhost','5432','new_db')

table_name='emp_vish'
select_column='id,name'

c.read_data(table_name,select_column)

Connection Established Successfully
(10, 'Sagar')
(2, 'Vishal')
Data from table

In [8]:
c=Connection('postgres','password','localhost','5432','new_db')

table_name='emp_vish'
set_condition='id=10'
filter_condition='id=1'

c.update_table(table_name, set_condition, filter_condition)

Connection Established Successfully
Data Updated

In [9]:
c=Connection('postgres','password','localhost','5432','new_db')

table_name='emp_vish'
filter_condition='id=2'

c.delete(table_name, filter_condition)

Connection Established Successfully
Data Deleted